/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Oswald&display=swap');
/*  */
/* Main */
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #343434;
}
a{
text-decoration: none;
color: #343434;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
h1{
  font-family: Oswald;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin: 0;
}
.button{
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  padding: 15px 40px;
}
/*  */
.header{
  position: relative;
  height: 800px;
  background-image: url(../img/Header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  &-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgba($color: #005BC1, $alpha: 0.6);
    img{
      width: 140px;
      height: 58px;
      margin-left: 40px;
    }
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-right: 180px;
    }
    li{
      margin: 0 14px;
    }
    a{
      color: #fff;
      font-size: 14px;
      line-height: 19px;
    }
  }
  &-title{
    position: relative;
    z-index: 1;
    margin: 202px 0 0 25%;
    width: 635px;
    height: 317px;
    p{
      margin: 40px 0 55px 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }
    .button{
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
    }
  }
}
.overlay{
  position: absolute;
  left: 15%;
  z-index: 0;
  width: 444px;
  height: 720px;
  background: rgba(0, 91, 193, 0.6);
}